:root {
    --border: #222222;
}

.user--input--field {
    height: 40px;
    width: auto;
    border: 1px solid var(--border);
    margin: 20px 20px;
    display: block;

    &::placeholder {
        padding-left: 10px;
    }
}
